@model MVC_Eticaret.Models.UserProfile
@{
    ViewData["Title"] = "Login";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<link rel="stylesheet" href="~/css/Login.css" />

<div class="container m-4" style="margin-top:3vh;margin-bottom:5vh;">
    <div class="form-bg">
        <div class="row">
            <div class="col-md-offset-3 col-md-6 col-sm-offset-2 col-sm-8">
                <div class="form-container">
                    <h3 class="title">Kullanıcı Kaydı</h3>
                    @using (Html.BeginForm("Login", "Home", FormMethod.Post, new { @class = "form-horizontal" }))
                    {
                        <div class="form-group">
                            <label>Kullanıcı Adı*</label>
                            <input class="form-control" type="text" name="UserName">
                        </div>

                        <div class="form-group">
                            <label>Şifre*</label>
                            <input class="form-control" type="password" name="Password">
                        </div>
                        <div class="form-group">
                            <label>
                                <input type="checkbox">
                                Beni Hatırla
                            </label>
                        </div>
                        <div class="form-group">
                            <label>
                                <a href="#" data-toggle="modal" data-target="#sifreModal">Şifremi Unuttum</a>
                            </label>
                        </div>
                        <div class="text-danger">
                            @TempData["Message"]
                            @Html.ValidationMessageFor(model => model.UserName, "", new { @class = "text-danger" })
                            @Html.ValidationMessageFor(model => model.Password, "", new { @class = "text-danger" })
                            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                        </div>
                        <button type="submit" class="btn btn-default">Giriş Yap</button>
                    }
                </div>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" data-backdrop="false" style="height:1000px;" id="sifreModal" tabindex="-1" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title" id="exampleModalLabel"><b>Şifremi Unuttum Formu</b></h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form action="/Home/ForgotPassword" method="post">
                    <div class="form-group">
                        <label class="col-form-label">Mail Adresiniz</label>
                        <input type="email" class="form-control" id="Email" name="Email">
                    </div>
                    <div class="modal-footer" style="padding-bottom:10px;">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Kapat</button>
                        <input type="submit" class="btn btn-outline-primary" name="Email" value="Gönder" />
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
